<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    Privacy Policy
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>
                    Introduction
                </h2>

                <p>
                    This Policy details our commitment to protecting the privacy of individuals who visit our website and
                    who use our services (“Customers” or “You”, “Yours”, etc). For the purposes of this Policy, “website”,
                    shall refer to allmylinks.co.uk. Term “services” means service, provided through the web-service allmylinks.co.uk
                    with the appropriate functionality (the ability to create an “online business card”, the use of a widget
                    with direct buttons to go into instant messengers, but not limited to this).
                </p>

                <h2>
                    Scope Of This Policy
                </h2>

                <p>
                    In this Policy, personal information means information relating to an identified or identifiable
                    natural person. An identifiable person is one who can be identified, directly or indirectly, in particular
                    by reference to an identifier such as a name, an identification number, location data, and online
                    identifier or to one or more factors specific to his/her physical, physiological, genetic, mental,
                    economic, cultural or social identity. The use of information collected through our website and service
                    shall be limited to the purpose of providing the services for which the Customers has engaged.
                </p>

                <p>
                    Our services may contain links to other websites, services, and the information practices and the content
                    of such other websites are governed by the privacy statements of such other websites. We encourage you to
                    review the privacy statements of any such other websites to understand their information practices.
                </p>

                <h2>
                    Information That You Provide To Us
                </h2>

                <p>
                    We ask for and may collect personal information about you such as your name, phone number, email address,
                    instant messaging ID as well as certain related information like your company name and website name.
                </p>

                <p>
                    We ask for and may collect personal information from you when you submit web forms on our website or as
                    you use interactive features of the website, including, participation in surveys or otherwise communicating
                    with us.
                </p>

                <h2>
                    Information That We Collect From You on our services
                </h2>

                <h3>
                    Cookies and Other Tracking Technologies
                </h3>

                <p>
                    We may use cookies and other information gathering technologies for a variety of purposes. These technologies
                    may provide us with personal information, information about devices and networks you utilize to access our service,
                    and other information regarding your interactions with our website.
                </p>

                <p>
                    Web beacons, tags, and scripts may be used on our website or in email or other electronic communications we send
                    to you. These assist us in delivering cookies, counting visits to our website, understanding usage and campaign
                    effectiveness and determining whether an email has been opened and acted upon. We may receive reports based on
                    the use of these technologies by our third-party service providers on an individual and aggregated basis.
                </p>

                <p>
                    To store information and content preferences, we use such technologies as service / Web Workers, Local Storage,
                    Cookies. We can use these technologies in the background mode of the web browser.
                </p>

                <h3>
                    Analytics
                </h3>

                <p>
                    We collect analytics information when you use the website to help us improve them. We may also share
                    anonymous data about your actions on our website with third-party service providers of analytics services.
                    We do not link the information we store within the analytics software to any personally identifiable
                    information.
                </p>

                <h2>
                    How We Use Information That We Collect
                </h2>

                <p>
                    We may use the information we collect about you (including personal information, to the extent applicable)
                    for a variety of purposes, including to:
                </p>

                <ul>
                    <li>provide, operate, maintain, improve, and promote our services;</li>
                    <li>enable you to access and use the services;</li>
                    <li>process and complete transactions, and send you related information, including purchase confirmations and invoices;</li>
                    <li>send transactional messages, including responses to your comments, questions, and requests; provide customer service and support; and send you technical notices, updates, security alerts, and support and administrative messages;</li>
                    <li>monitor and analyze trends, usage, and activities in connection with the websites and services and for marketing or</li>
                    <li>advertising purposes;</li>
                    <li>investigate and prevent illegal activities;</li>
                    <li>personalize the websites and services; for other purposes for which we obtain your consent.</li>
                </ul>

                <h2>
                    Legal Basis for Processing Personal Data Under General Data Protection Regulation (GDPR)
                </h2>

                <p>
                    If you are from the European Economic Area (EEA), We legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Data we collect and the specific context in which we collect it. we may process your Personal Data because:
                </p>

                <ul>
                    <li>We need to perform a contract with you</li>
                    <li>You have given us permission to do so</li>
                    <li>The processing is in our legitimate interests and it&apos;s not overridden by your rights</li>
                    <li>For payment processing purposes</li>
                    <li>To comply with the law</li>
                </ul>

                <h2>
                    Sharing Of Information Collected
                </h2>

                <h3>
                    Third-Party Service Providers
                </h3>

                <p>
                    We do not share personal information with third parties constantly. However, in some cases, we can do
                    this solely to provide you with services and to ensure the security and safety of your information.
                    We can share information, including personal information, with our third-party service providers that
                    we use to provide hosting for and maintenance of our websites, application development, backup, storage,
                    payment processing, analytics and other services for us. These third-party service providers may have access
                    to or process your personal information for the purpose of providing these services for us. We do not
                    permit our third-party service providers to use the personal information that we share with them for their
                    marketing purposes or for any other purpose than in connection with the services they provide to us.
                </p>

                <h3>
                    Compliance with Laws and Law Enforcement Requests; Protection of Our Rights
                </h3>

                <p>
                    In certain situations, we may be required to disclose personal information in response to lawful requests
                    by public authorities, including to meet national security or law enforcement requirements.
                    We may disclose personal information to respond to subpoenas, court orders, or legal process, or
                    to establish or exercise our legal rights or defend against legal claims. We may also share such
                    information if we believe it is necessary in order to investigate, prevent, or take action regarding
                    illegal activities, suspected fraud, situations involving potential threats to the physical safety of any
                    person, or as otherwise required by law.
                </p>

                <h2>
                    How Long We Retain Your Personal Information
                </h2>

                <p>
                    We will retain your personal information for as long as is needed to fulfill the purposes outlined in
                    this Privacy Policy unless a longer retention period is required or permitted by law (such as tax,
                    accounting or other legal requirements). When we have no ongoing legitimate business need to process
                    your personal information, we will either delete or anonymize it, or, if this is not possible (for example,
                    because your personal information has been stored in backup archives), then we will securely store your
                    personal information and isolate it from any further processing until deletion is possible.
                </p>

                <h2>
                    Your Privacy Rights
                </h2>

                <p>
                    Except for the terms, set forth above in this Policy, you have the following privacy rights.
                    Please read them carefully.
                </p>

                <h3>The right to object</h3>

                <p>
                    You have the right to object to:
                </p>

                <ul>
                    <li>
                        processing of information, based on legitimate interests or the performance of a task in the public
                        interest/exercise of official authority (including profiling);
                    </li>
                    <li>direct marketing (including profiling); and</li>
                    <li>processing for purposes of scientific/historical research and statistics.</li>
                </ul>

                <p>
                    The objection has to be based on grounds relating to your particular situation. You can send the objection online to our mail hello@allmylinks.co.uk
                </p>

                <h3>The right of access.</h3>

                <p>
                    You have the right to access your personal data. The reason to access your personal data is so that you are aware of and can verify the lawfulness of the processing. We may verify the identity of the person making the request, using reasonable means. If the request is made electronically, we shall provide you with the information in a commonly used electronic format. You have the right to obtain:
                </p>

                <ul>
                    <li>confirmation that your data is being processed;</li>
                    <li>access to your personal data;</li>
                    <li>and other supplementary information – this largely corresponds to the information that should be provided in a privacy notice.</li>
                </ul>

                <h3>The right to rectification</h3>

                <p>
                    This means the right to have inaccurate personal data rectified, or completed if it is incomplete. Personal data is inaccurate if it is incorrect or misleading as to any matter of fact. In certain circumstances, we can refuse a request for rectification.
                </p>

                <h3>The right to erasure</h3>

                <p>
                    You have the right to have your personal data erased. This is also known as the ‘right to be forgotten’. The right is not absolute and only applies in certain circumstances, for example:
                </p>

                <ul>
                    <li>the personal data is no longer necessary for the purpose which we originally collected or processed it for;</li>
                    <li>you withdraw your consent for processing personal information;</li>
                    <li>we have to do it to comply with a legal obligation;</li>
                    <li>we have processed the personal data to offer information society services to a child.</li>
                </ul>

                <h3>The right to restrict processing</h3>

                <p>
                    When processing is restricted, we can store the personal data, but not use it. You can make a request for restriction. This is an alternative to requesting the erasure of your data. The personal information can be restricted by:
                </p>

                <ul>
                    <li>temporarily moving information to another processing system;</li>
                    <li>making the data unavailable to users; or</li>
                    <li>temporarily removing published data from a website.</li>
                </ul>

                <h3>The right to data portability</h3>

                <p>
                    This right means that you can obtain your personal information from us and reuse it for your own purposes – to move, copy or transfer personal data easily from our site to another sites or services. We shall provide the personal information in a structured, commonly used and machine-readable form. Machine-readable means that the information is structured so that software can extract specific elements of the data. This enables other organizations to use the data. If you want it, we may transmit the personal information directly to another organization (site or service) if this is technically feasible.
                </p>

                <p>
                    We don’t use automated decision making (making a decision solely by automated means without any human involvement) or profiling (automated processing of personal data to evaluate certain things about an individual) systems.
                </p>

                <h3>
                    What are the rules for submitting requests and considering them?
                </h3>

                <p>
                    You can make the requests with regard to the rights set forth above, verbally or in writing. Requests will be handled within thirty (30) days. The period of compliance can be extended by a further two months where requests are complex or numerous. If this is the case, we shall inform you within one month of the receipt of the request and explain why the extension is necessary.
                </p>

                <p>Where requests are manifestly unfounded or excessive, in particular, because they are repetitive, we may charge a reasonable fee taking into account the administrative costs of providing the information or refuse to respond.</p>
                <p>If we refuse to respond to a request, we will explain the reason of that and inform you of your right to complain to the supervisory authority and to a judicial remedy without undue delay and at the latest within one month. Anyway, we shall explain our decision and inform you of your rights.</p>
                <p>The security of your personal information is important to us. We follow generally accepted standards to protect the personal information submitted to us, both during transmission and once it is received. If you have any questions about the security of your personal information, you can contact us via our mail hello@allmylinks.co.uk</p>

                <h2>
                    Withdrawal and Deletion of Personal Data
                </h2>

                <p>You can initiate the deletion of your personal data at any time by deleting your account in our system. To do so, go to the &quot;My Profiles&quot; section by clicking on your avatar in the upper right corner of the screen, and delete all displayed profiles. After the deletion of the last profile, your account, along with all the personal data provided, will be permanently deleted and cannot be recovered.</p>
                <p>You can also contact us via email at privacy@allmylinks.co.uk to request the deletion of your personal data. Please send the email from the address that was used to register your account. This is necessary to confirm your identity and to link the request to your account.</p>
            </div>
        </div>
    </div>
</div>
</body>
</html>