<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content(block)"
     th:with="props=${block.blockProps}"
     class="container">
  <div class="row">
    <div class="col text-center">
      <a th:each="link : ${props.links}"
         th:href="${link.url}"
         style="padding-left: 5px;"
         class="icon-link"
         target="_blank">

        <i class="bi"
           style="font-size: 2em"
           th:classappend="${link.network.htmlClass}">
        </i>

      </a>
    </div>
  </div>
</div>
</body>
</html>
