<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content(block)"
     th:with="props=${block.blockProps}"
     class="preview-pane-block-no-padding">
  <div class="row">
    <div class="col text-center">
      <div th:if="${props.backgroundId != null}"
           th:classappend="${block.canMoveUp == false ? 'avatar-background-rounded-up' : ''}"
           th:style="${@cssHelper.toStyle(props.getCoverStyle(@fileService))}"></div>

      <img th:src="${#conversions.convert(props.avatarId, 'java.lang.String')}"
           class="rounded-circle"
           th:style="${@cssHelper.toStyle(props.getAvatarStyle())}"
           height="200"
           width="200"/>
    </div>
  </div>
</div>
</body>
</html>
