<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content(block)"
     th:with="props=${block.blockProps}"
     class="container preview-pane-block">
  <div class="row">
    <div class="col">
      <th:block th:switch="${props.level.htmlTag}">
        <h1 th:case="'h1'"
            th:class="${props.alignment.htmlClass}"
            th:text="${props.text}" />
        <h2 th:case="'h2'"
            th:class="${props.alignment.htmlClass}"
            th:text="${props.text}" />
        <h3 th:case="'h3'"
            th:class="${props.alignment.htmlClass}"
            th:text="${props.text}" />

        <p th:case="*" th:text="${props.level}" />
      </th:block>
    </div>
  </div>
</div>
</body>
</html>
