<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          Backoffice
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title" th:text="${model.totalUsers}" />
            <h6 class="card-subtitle mb-2 text-body-secondary">Users</h6>
            <a th:href="@{/backoffice/users}" class="card-link">View Details</a>
          </div>
        </div>

      </div>
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Tasks</h5>
            <p>In the queue: <span th:text="${model.taskStats.waiting}" /></p>
            <p>Failed: <span th:text="${model.taskStats.failed}" /></p>
            <p>Total: <span th:text="${model.taskStats.total}" /></p>
            <p><a th:href="@{/backoffice/tasks}" class="card-link">View details</a></p>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col">&nbsp;</div>
    </div>

    <div class="row">
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Profile Change Requests</h5>
            <p>In the queue: <span th:text="${model.changeRequestStats.waiting}" /></p>
            <p>Total: <span th:text="${model.changeRequestStats.total}" /></p>
            <p><a th:href="@{/backoffice/profile/requests}" class="card-link">View details</a></p>
          </div>
        </div>

      </div>

      <div class="col">
        &nbsp;
      </div>
    </div>
  </div>
</div>
</body>
</html>
