<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content"
     class="container">
  <div class="row align-items-center gy-4">
    <div class="col-12 col-lg-6 d-flex align-items-center">
      <th:block th:replace="~{public/components-home/landing-area :: landing-area-left}"></th:block>
    </div>
    <div class="col-12 col-lg-6 text-center d-flex justify-content-center">
      <th:block th:replace="~{public/components-home/landing-area :: landing-area-right}"></th:block>
    </div>
  </div>
</div>

<div th:fragment="landing-area-left"
     id="landing-area-left"
     class="d-flex flex-column">

  <form th:object="${form}" th:action="@{/register}" method="post">
    <input type="hidden" th:field="*{preRegistration}" />
    <h1>
      Centralize your online presence
    </h1>

    <p>
      Bring together your socials, music, videos, and more on a stunning, interactive page.
      Claim your name now and make your bio stand out!
    </p>

    <div class="container px-0">
      <div class="row g-2 align-items-stretch">
        <div class="col-12 col-sm">
          <div class="h-100">
            <input type="text"
                   th:field="*{email}"
                   th:class="'form-control form-control-lg h-100 py-3 ' + (${#fields.hasErrors('email')} ? 'is-invalid' : '')"
                   placeholder="Your email to start" />
          </div>
        </div>
        <div class="col-12 col-sm-auto d-grid">
          <button class="btn btn-primary btn-lg"
                  type="submit">
            Get started
          </button>
        </div>
        <div class="col-12">
          <div class="invalid-feedback d-block"
               th:if="${#fields.hasErrors('email')}"
               th:errors="*{email}">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<div th:fragment="landing-area-right">
  <img th:src="@{/img/preview.png}"
       class="img-fluid"
       width="284"
       alt="Landing page image"/>
</div>
</body>
</html>
