<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<th:block th:fragment="content(block)">
  <div class="row">
    <div class="col">
      <a th:href="@{/private/dashboard}" class="btn btn-outline-primary">
        Back
      </a>
      <button type="submit" class="btn btn-primary">
        Save
      </button>
    </div>
    <div class="col text-end">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown">
          <i class="bi bi-gear"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item"
               th:href="@{/private/dashboard/{pId}/blocks/{bId}/up(pId=${block.pageId},bId=${block.blockId})}"
               th:classappend="${!block.canMoveUp} ? 'disabled' : ''"
               th:disabled="${!block.canMoveUp}">
              <i class="bi bi-arrow-up"></i>
              Move up
            </a>
          </li>
          <li>
            <a class="dropdown-item"
               th:href="@{/private/dashboard/{pId}/blocks/{bId}/down(pId=${block.pageId},bId=${block.blockId})}"
               th:classappend="${!block.canMoveDown} ? 'disabled' : ''"
               th:disabled="${!block.canMoveDown}">
              <i class="bi bi-arrow-down"></i>
              Move down
            </a>
          </li>
          <li>
            <a class="dropdown-item"
               th:href="@{/private/dashboard/{pId}/blocks/{bId}/delete(pId=${block.pageId},bId=${block.blockId})}">
              <i class="bi bi-trash"></i>
              Delete
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
</th:block>
</body>
</html>
