<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          Users
        </h1>
      </div>
    </div>

    <div class="row">
      <div class="col">

        <table class="table">
          <tr>
            <th>#</th>
            <th>Real Name</th>
            <th>Email</th>
            <th>Profile link</th>
          </tr>

          <tr th:each="user : ${model}">
            <td th:text="${user.id}"/>
            <td th:text="${user.userName}"/>
            <td th:text="${user.email}"/>
            <td>
              <a th:href="${profileHelper.getProfileLink(user)}"
                 th:text="${profileHelper.getProfileLink(user)}"
                 target="_blank"/>
            </td>
          </tr>
        </table>

      </div>
    </div>

    <div class="row">
      <div class="col">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link"
                 th:if="${model.hasPrevious}"
                 th:href="@{/backoffice/users?page={page}(page=${model.number - 1})}">
                <span aria-hidden="true">&laquo;</span>
              </a>
            </li>
            <li th:each="page : ${#numbers.sequence(0, model.totalPages - 1)}"
                th:classappend="${page} == ${model.number} ? 'active' : ''"
                class="page-item">
              <a class="page-link"
                 th:href="@{/backoffice/users?page={page}(page=${page})}"
                 th:text="${page + 1}" />
            </li>
            <li class="page-item">
              <a class="page-link"
                 th:if="${model.hasNext}"
                 th:href="@{/backoffice/users?page={page}(page=${model.number + 1})}">
                <span>&raquo;</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
</body>
</html>
