<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
    <div th:fragment="content">
        <form th:hx-post="@{/subscribe}">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 offset-md-2 text-center">

                        <h2>
                            Subscribe
                        </h2>

                        <p>
                            Subscribe to our newsletter to stay up to date with our latest news
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="input-group">
                            <input type="email"
                                   name="email"
                                   required
                                   class="form-control"
                                   placeholder="Enter your email">
                            <button class="btn btn-primary btn-lg"
                                    type="submit">
                                Subscribe
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div th:fragment="done">
        <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2 text-center">
                    <h2>
                        Thank you for subscribing
                    </h2>
                    <p>
                        You will receive our newsletter in your email
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>