div.preview-pane {
  border: 5px solid #333;
  border-radius: 3em;
  max-width: 530px;
  min-width: 530px;
  min-height: 954px;
}

div.preview-pane-block-no-padding {
  padding-bottom: 8px;
}

div.preview-pane-block {
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}

div.avatar-container {
  position: relative;
  height: 300px;
}

div.avatar-container-no-background {
  height: 200px;
}

div.avatar-background {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 200px;
  z-index: 0;
}

div.avatar-share-button {
  position: absolute;
  left: 10px;
  top: 10px;
  z-index: 10;
}

div.avatar-share-button .btn {
  background-color: white;
}

div.avatar-photo-container {
  position: absolute;
  display: flex;
  justify-content: center;
  z-index: 10;
  width: 100%;
  top: 100px;
}

div.avatar-photo-container-no-background {
  top: 10px;
}

.preview-pane .avatar-background-rounded-up {
  border-top-left-radius: 43px;
  border-top-right-radius: 43px;
}

div.preview-pane-container {
  display: flex;
  justify-content: center;
}

.htmx-request {
  opacity: 0.6;
  background-color: #c0c0c0;
}
