<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>
          Sing In
        </h1>

        <p>
          Welcome back! Sign in to your account to continue.
        </p>

        <th:block th:replace="~{public/components-login/login-pane :: login-options}"></th:block>
      </div>

      <div class="col text-center">
        <th:block th:replace="~{public/components-home/landing-area :: landing-area-right}"></th:block>
      </div>
    </div>
  </div>
</div>

<div th:fragment="login-options">
  <th:block th:replace="~{public/components-login/login-pane :: form-login}"></th:block>

  <hr />

  <div class="d-grid">
    <a th:href="@{/register}"
       class="btn btn-outline-primary">
      Create an account
    </a>
  </div>

  <div class="d-grid">
    <a th:href="@{/oauth2/authorization/google}"
       class="btn btn-outline-primary">
      Login with Google
    </a>
  </div>
</div>

<div th:fragment="form-login">
  <div th:if="${param.error}"
       class="alert alert-primary">
    Invalid email or password. Please try again.
  </div>

  <form th:action="@{/login}" method="post">
    <div class="mb-3">
      <label for="email"
             class="form-label">
        Email address
      </label>
      <input type="email"
             name="email"
             required
             placeholder="Your email address"
             class="form-control"
             id="email" />
    </div>

    <div class="mb-3">
      <label for="password"
             class="form-label">
        Password
      </label>
      <input type="password"
             name="password"
             required
             placeholder="Your password"
             class="form-control"
             id="password" />
    </div>

    <div class="mb-3 d-grid">
      <button type="submit"
              class="btn btn-primary">
        Log in
      </button>
    </div>
  </form>
</div>
</body>
</html>
