<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>

<div th:fragment="SOCIAL_NETWORKS_BLOCK"
     id="socialNetworksBlockForm">
  <form th:object="${currentBlock.blockProps}"
        th:with="props=${currentBlock.blockProps}"
        th:action="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
        method="post">

    <input type="hidden" name="type" th:value="${currentBlock.blockType.type}"/>

    <div class="container">
      <th:block th:replace="~{private/components-dashboard/dashboard-block-props :: toolbar(${currentBlock})}"/>

      <div class="row">
        <div class="col d-grid">
          <button th:hx-post="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
                  hx-target="#socialNetworksBlockForm"
                  class="btn btn-primary"
                  name="action"
                  value="add-network"
                  type="submit">
            Add social network
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table">
            <tr th:each="link, stat : ${props.links}">
              <td>
                <select th:class="'form-select ' + (${#fields.hasErrors('links[__${stat.index}__].network')} ? 'is-invalid' : '')"
                        th:value="${link.network}"
                        th:name="blockProps.links[__${stat.index}__].network">
                  <option th:each="sn : ${T(dev.abarmin.aml.dashboard.block.social.SocialNetworkIcon).values()}"
                          th:value="${sn.name()}"
                          th:selected="${#strings.equals(sn.name(), link.network)}"
                          th:text="${sn.name()}">
                  </option>
                </select>

                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('links[__${stat.index}__].network')}"
                     th:errors="*{links[__${stat.index}__].network}">
                </div>
              </td>
              <td>
                <input type="text"
                       required
                       th:class="'form-control ' + (${#fields.hasErrors('links[__${stat.index}__].url')} ? 'is-invalid' : '')"
                       th:value="${link.url}"
                       th:name="blockProps.links[__${stat.index}__].url" />

                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('links[__${stat.index}__].url')}"
                     th:errors="*{links[__${stat.index}__].url}">
                </div>
              </td>
              <td>
                <button class="btn btn-danger"
                        name="action"
                        th:hx-post="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
                        hx-target="#socialNetworksBlockForm"
                        th:value="'remove-network__' + ${stat.index}"
                        type="submit">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </form>
</div>

<div th:fragment="BUTTON_BLOCK">
  <form th:object="${currentBlock.blockProps}"
        th:with="props=${currentBlock.blockProps}"
        th:action="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
        method="post">

    <input type="hidden" name="type" th:value="${currentBlock.blockType.type}"/>

    <div class="container">
      <th:block th:replace="~{private/components-dashboard/dashboard-block-props :: toolbar(${currentBlock})}"/>

      <div class="row">
        <div class="col">
          <label class="form-label"
                 for="buttonText">
            Text:
          </label>
          <input id="buttonText"
                 required
                 th:field="*{text}"
                 th:class="'form-control ' + (${#fields.hasErrors('text')} ? 'is-invalid' : '')"
                 type="text"/>

          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('text')}"
               th:errors="*{text}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label"
                 for="buttonLink">
            Link:
          </label>
          <input id="buttonLink"
                 required
                 th:field="*{link}"
                 th:class="'form-control ' + (${#fields.hasErrors('link')} ? 'is-invalid' : '')"
                 type="text"/>

          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('link')}"
               th:errors="*{link}">
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<div th:fragment="AVATAR_BLOCK">
  <form th:object="${currentBlock.blockProps}"
        th:with="props=${currentBlock.blockProps}"
        th:action="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
        enctype="multipart/form-data"
        method="post">

    <input type="hidden" name="type" th:value="${currentBlock.blockType.type}"/>

    <div class="container">
      <th:block th:replace="~{private/components-dashboard/dashboard-block-props :: toolbar(${currentBlock})}"/>

      <div class="row">
        <div class="col text-center">
          <img th:src="${#conversions.convert(props.fileId, 'java.lang.String')}"
               class="rounded-circle"
               height="200"
               width="200" />
        </div>
      </div>

      <div class="row">
        <div class="col">
          &nbsp;
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-check form-switch">
            <input class="form-check-input"
                   type="checkbox"
                   name="resetAvatar"
                   id="resetAvatar">
            <label class="form-check-label"
                   for="resetAvatar">
              Reset avatar
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="mb-3">
            <label for="newAvatar" class="form-label">
              Upload new avatar
            </label>
            <input th:class="'form-control ' + (${#strings.isEmpty(avatarError)} ? '' : 'is-invalid')"
                   name="newAvatar"
                   th:accept="${allowedImageTypes}"
                   type="file"
                   id="newAvatar" />
            <div class="invalid-feedback"
                 th:if="${#strings.isEmpty(avatarError) == false}"
                 th:text="${avatarError}" />
          </div>
        </div>
      </div>
    </div>

  </form>
</div>

<div th:fragment="HEADER_BLOCK">
  <form th:object="${currentBlock.blockProps}"
        th:action="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
        method="post">

    <input type="hidden" name="type" th:value="${currentBlock.blockType.type}"/>

    <div class="container">
      <th:block th:replace="~{private/components-dashboard/dashboard-block-props :: toolbar(${currentBlock})}"/>

      <div class="row">
        <div class="col">
          <label class="form-label"
                 for="headerLevel">
            Level:
          </label>
          <select th:field="*{level}"
                  th:class="'form-select ' + (${#fields.hasErrors('level')} ? 'is-invalid' : '')"
                  id="headerLevel">
            <option value="H1">Level 1</option>
            <option value="H2">Level 2</option>
            <option value="H3">Level 3</option>
          </select>
          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('level')}"
               th:errors="*{level}">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label">
            Alignment:
          </label>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="btn-group">
            <input type="radio"
                   th:field="*{alignment}"
                   th:class="'btn-check ' + (${#fields.hasErrors('alignment')} ? 'is-invalid' : '')"
                   value="LEFT"
                   id="alignmentLeft">
            <label class="btn btn-outline-primary"
                   for="alignmentLeft">
              Left
            </label>

            <input type="radio"
                   th:field="*{alignment}"
                   th:class="'btn-check ' + (${#fields.hasErrors('alignment')} ? 'is-invalid' : '')"
                   value="CENTER"
                   id="alignmentCenter">
            <label class="btn btn-outline-primary"
                   for="alignmentCenter">
              Center
            </label>

            <input type="radio"
                   th:field="*{alignment}"
                   th:class="'btn-check ' + (${#fields.hasErrors('alignment')} ? 'is-invalid' : '')"
                   value="RIGHT"
                   id="alignmentRight">
            <label class="btn btn-outline-primary"
                   for="alignmentRight">
              Right
            </label>

            <div class="invalid-feedback"
                 th:if="${#fields.hasErrors('alignment')}"
                 th:errors="*{alignment}">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label class="form-label"
                 for="headerText">
            Text:
          </label>
          <input class="form-control"
                 id="headerText"
                 th:class="'form-control ' + (${#fields.hasErrors('text')} ? 'is-invalid' : '')"
                 th:field="*{text}"
                 type="text"/>

          <div class="invalid-feedback"
               th:if="${#fields.hasErrors('text')}"
               th:errors="*{text}">
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

<th:block th:fragment="toolbar(block)">
  <div class="row">
    <div class="col">
      <a th:href="@{/private/dashboard}" class="btn btn-outline-primary">
        Back
      </a>
      <button type="submit" class="btn btn-primary">
        Save
      </button>
    </div>
    <div class="col text-end">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle"
                type="button"
                data-bs-toggle="dropdown">
          <i class="bi bi-gear"></i>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a class="dropdown-item"
               th:href="@{/private/dashboard/{pId}/blocks/{bId}/up(pId=${block.pageId},bId=${block.blockId})}"
               th:classappend="${!block.canMoveUp} ? 'disabled' : ''"
               th:disabled="${!block.canMoveUp}">
              <i class="bi bi-arrow-up"></i>
              Move up
            </a>
          </li>
          <li>
            <a class="dropdown-item"
               th:href="@{/private/dashboard/{pId}/blocks/{bId}/down(pId=${block.pageId},bId=${block.blockId})}"
               th:classappend="${!block.canMoveDown} ? 'disabled' : ''"
               th:disabled="${!block.canMoveDown}">
              <i class="bi bi-arrow-down"></i>
              Move down
            </a>
          </li>
          <li>
            <a class="dropdown-item"
               th:href="@{/private/dashboard/{pId}/blocks/{bId}/delete(pId=${block.pageId},bId=${block.blockId})}">
              <i class="bi bi-trash"></i>
              Delete
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
</th:block>

</body>
</html>
