<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content"
     class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <th:block th:replace="~{private/components-dashboard/dashboard-pane :: content-sidebar-left}"/>
    </div>
    <div class="col-md-5">
      <th:block th:replace="~{private/components-dashboard/dashboard-preview :: content}"/>
    </div>
    <div class="col-md-3">
      <th:block th:switch="${currentBlock}">
        <th:block th:case="null">
          <th:block th:replace="~{private/components-dashboard/dashboard-page-props :: content}"/>
        </th:block>
        <th:block th:case="*">
          <th:block
            th:replace="~{private/components-dashboard/dashboard-block-props :: __${currentBlock.blockType.type}__}"/>
        </th:block>
      </th:block>
    </div>
  </div>
</div>

<th:block th:fragment="content-sidebar-left">
  <th:block th:replace="~{private/components-dashboard/dashboard-pane :: user-link-preview}"/>
  <th:block th:replace="~{private/components-reusable/page-divider :: content}"></th:block>
  <th:block th:replace="~{private/components-dashboard/dashboard-pane :: blocks-accordion}"/>
</th:block>

<div th:fragment="user-link-preview"
     class="container">
  <div class="row">
    <div class="col">
      <a class="icon-link"
         th:href="${model.profile.profileLink}"
         target="_blank">
        <i class="bi bi-box-arrow-up-right"></i>
      </a>

      <a th:href="${model.profile.profileLink}"
         th:text="${model.profile.profileLink}"
         target="_blank">
        User Link
      </a>
    </div>
  </div>
</div>

<div th:fragment="blocks-accordion"
     class="container">
  <div class="row">
    <div class="col">
      <div class="accordion" id="blocks-accordion">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#blocks-list">
              Blocks
            </button>
          </h2>
          <div id="blocks-list"
               class="accordion-collapse collapse show"
               data-bs-parent="#blocks-accordion">
            <div class="accordion-body">
              <th:block th:replace="~{private/components-dashboard/dashboard-pane :: blocks-list}"/>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#blocks-on-page">
              Page blocks
            </button>
          </h2>
          <div id="blocks-on-page"
               class="accordion-collapse collapse show"
               data-bs-parent="#blocks-accordion">
            <div class="accordion-body">
              <th:block th:replace="~{private/components-dashboard/dashboard-pane :: blocks-on-page}"/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ul th:fragment="blocks-list"
    class="list-group list-group-flush">
  <li th:each="type : ${model.availableBlocks}"
      class="list-group-item">
    <i th:class="'bi ' + ${type.icon}"></i>

    <a th:href="@{/private/dashboard/{pId}/blocks-add/{bType}(pId=${model.currentPage.pageId}, bType=${type.type})}"
       th:text="${type.name}"></a>
  </li>
</ul>

<ul th:fragment="blocks-on-page"
    class="list-group list-group-flush">
  <li th:each="block : ${model.currentPage.pageBlocks}"
      class="list-group-item">

    <i th:class="'bi ' + ${block.blockType.icon}"></i>
    <a th:href="@{/private/dashboard/{pId}/blocks/{bId}(pId=${model.currentPage.pageId}, bId=${block.blockId})}"
       th:text="${block.blockType.name}"></a>
  </li>
</ul>

</body>
</html>
