<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content" class="container">
  <form th:object="${profile}"
        th:action="@{/private/profile/link}"
        method="post">

    <div class="row">
      <div class="col">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Profile Link</h5>

            <div class="alert alert-primary"
                 th:if="${profile.hasActiveLinkChangeRequest}">
              <p>
                You already have an active link change request. Please wait until it is processed.
              </p>

              <a th:href="@{/private/profile/link/cancel}"
                 class="btn btn-danger">
                Cancel the request
              </a>
            </div>

            <p class="card-text">Create a request to update the link.</p>

            <div class="mb-3">
              <label for="currentLink"
                     class="form-label">
                Current link:
              </label>
              <input type="text"
                     id="currentLink"
                     th:field="*{link}"
                     class="form-control"
                     disabled="true"
                     required />
            </div>

            <div class="mb-3">
              <label for="newLink"
                     class="form-label">
                New link:
              </label>
              <input type="text"
                     id="newLink"
                     name="newLink"
                     th:disabled="${profile.hasActiveLinkChangeRequest}"
                     class="form-control"
                     required />
            </div>

            <button type="submit"
                    th:disabled="${profile.hasActiveLinkChangeRequest}"
                    class="btn btn-primary">
              Create a request
            </button>
          </div>
        </div>

      </div>
    </div>

  </form>
</div>
</body>
</html>
