<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content(currentBlock)"
     id="socialNetworksBlockForm">
  <form th:object="${currentBlock.blockProps}"
        th:with="props=${currentBlock.blockProps}"
        th:action="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
        method="post">

    <input type="hidden" name="type" th:value="${currentBlock.blockType.type}"/>

    <div class="container">
      <th:block th:replace="~{private/components-reusable/block-toolbar :: content(${currentBlock})}"/>

      <div class="row">
        <div class="col d-grid">
          <button th:hx-post="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
                  hx-target="#socialNetworksBlockForm"
                  class="btn btn-primary"
                  name="action"
                  value="add-network"
                  type="submit">
            Add social network
          </button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <table class="table">
            <tr th:each="link, stat : ${props.links}">
              <td>
                <select th:class="'form-select ' + (${#fields.hasErrors('links[__${stat.index}__].network')} ? 'is-invalid' : '')"
                        th:value="${link.network}"
                        th:name="blockProps.links[__${stat.index}__].network">
                  <option th:each="sn : ${T(dev.abarmin.aml.dashboard.block.social.SocialNetworkIcon).values()}"
                          th:value="${sn.name()}"
                          th:selected="${#strings.equals(sn.name(), link.network)}"
                          th:text="${sn.name()}">
                  </option>
                </select>

                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('links[__${stat.index}__].network')}"
                     th:errors="*{links[__${stat.index}__].network}">
                </div>
              </td>
              <td>
                <input type="text"
                       required
                       th:class="'form-control ' + (${#fields.hasErrors('links[__${stat.index}__].url')} ? 'is-invalid' : '')"
                       th:value="${link.url}"
                       th:name="blockProps.links[__${stat.index}__].url" />

                <div class="invalid-feedback"
                     th:if="${#fields.hasErrors('links[__${stat.index}__].url')}"
                     th:errors="*{links[__${stat.index}__].url}">
                </div>
              </td>
              <td>
                <button class="btn btn-danger"
                        name="action"
                        th:hx-post="@{/private/dashboard/{pId}/blocks/{bId}(pId=${currentBlock.pageId},bId=${currentBlock.blockId})}"
                        hx-target="#socialNetworksBlockForm"
                        th:value="'remove-network__' + ${stat.index}"
                        type="submit">
                  <i class="bi bi-trash"></i>
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

  </form>
</div>
</body>
</html>
