<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content"
     class="container preview-pane-block">
  <div class="row">
    <div class="col text-center">
      <p style="color: #aaaaaa;"
         class="fs-6 fw-lighter">
        Made with
        <a href="https://allmylinks.co.uk"
           class="fw-bold"
           style="color: #aaaaaa;"
           target="_blank">
          AllMyLinks
        </a>
      </p>
    </div>
  </div>
</div>
</body>
</html>
