<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content(block)"
     th:with="props=${block.blockProps}"
     class="preview-pane-block-no-padding">
  <div class="row" style="margin-left:0px; margin-right: 0px;">
    <div class="col avatar-container"
         th:classappend="${props.backgroundId == null ? 'avatar-container-no-background' : ''}">
      <div th:if="${props.showShareButton}"
           class="avatar-share-button">
        <button type="button"
                data-bs-toggle="modal"
                data-bs-target="#shareModal"
                class="btn btn-outline-primary">
          <i class="bi bi-share"></i>
        </button>
      </div>

      <div th:if="${props.backgroundId != null}"
           class="avatar-background"
           th:classappend="${block.canMoveUp == false ? 'avatar-background-rounded-up' : ''}"
           th:style="${@cssHelper.toStyle(props.getCoverStyle(@fileService))}"></div>

      <div class="avatar-photo-container"
           th:classappend="${props.backgroundId == null ? 'avatar-photo-container-no-background' : ''}">
        <img th:src="${#conversions.convert(props.avatarId, 'java.lang.String')}"
             class="avatar-photo rounded-circle"
             th:style="${@cssHelper.toStyle(props.getAvatarStyle())}"
             height="200"
             width="200"/>
      </div>
    </div>
  </div>

  <div class="modal" id="shareModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"
              th:text="${model.profile.profileShortLink}" />
          <button type="button"
                  class="btn-close"
                  data-bs-dismiss="modal"
                  aria-label="Close"></button>
        </div>
        <div class="modal-body text-center">
          <div class="mb-3">
            <img th:src="${#conversions.convert(model.profile.profileQr, 'java.lang.String')}" />
          </div>
          <div class="mb-3 d-grid">
            <button type="button"
                    class="btn btn-primary"
                    th:data-url="${model.profile.profileLink}"
                    id="copyToClipboardButton">
              <i class="bi bi-copy"></i>
              Copy page URL
            </button>
          </div>
          <div class="mb-3">
            <a th:href="${model.profile.share.onFacebook}"
               target="_blank"
               class="btn btn-primary">
              <i class="bi bi-facebook"></i>
            </a>

            <a th:href="${model.profile.share.onTwitter}"
               target="_blank"
               class="btn btn-primary">
              <i class="bi bi-twitter"></i>
            </a>

            <a th:href="${model.profile.share.onLinkedin}"
               target="_blank"
               class="btn btn-primary">
              <i class="bi bi-linkedin"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function() {
      $("#copyToClipboardButton").click(function(btn) {
        const url = $(this).data("url");
        navigator.clipboard.writeText(url);

        $(this).html('<i class="bi bi-check"></i> Copied');
        $(this).addClass("btn-success");
        $(this).removeClass("btn-primary");
      });
    });
  </script>
</div>
</body>
</html>
