<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content"
     class="container">
  <form method="post"
        th:action="@{/private/dashboard/{pId}(pId=${model.currentPage.pageId})}"
        th:object="${currentPage.pageProps}">

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">
          Save
        </button>
      </div>
    </div>

    <th:block th:insert="~{public/components-reusable/page-divider :: content}"></th:block>

    <div class="row">
      <div class="col">
        <div class="mb-3 row">
          <label for="backgroundColor"
                 class="form-label col">
            Background color
          </label>
          <input type="color"
                 th:field="*{backgroundColor}"
                 id="backgroundColor"
                 class="form-control form-control-color"/>
        </div>
      </div>
    </div>

  </form>
</div>
</body>
</html>
