<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<body>
<div th:fragment="content"
     class="container">
  <div class="row">
    <div class="col text-center">
      <h1>This address is free!</h1>
      <p>
        Take this address by clicking the button below.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col d-grid">
      <a th:href="@{/register?link={profileLink}(profileLink=${profileLink})}"
         class="btn btn-primary btn-lg">
        Get started for free!
      </a>
    </div>
  </div>
</div>
</body>
</html>
